<p>All spaceships within the Star Wats universe</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Model</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Credit Cost</th>
    <th scope="col">Length</th>
    <th scope="col">Max Speed</th>
    <th scope="col">Cargo Capacity</th>
    <th scope="col">Consumables</th>
    <th scope="col">Hyperdrive rating</th>
    <th scope="col">MGLT</th>
    <th scope="col">Starship Class</th>
    <th scope="col">Pilots</th>
    <th scope="col">films</th>
  </thead>
  <tbody>
  <tr *ngFor="let y of x; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
   
      {{ y.name }}
    </td>
    <td>{{ y.model }}</td>
    <td>{{ y.manufacturer }}</td>
    <td>{{ y.cost_in_credits }}</td>
    <td>{{ y.length }}</td>
    <td>{{ y.max_atmosphering_speed }}</td>
    <td>{{ y.crew  }}</td>
    <td>{{ y.cargo_capacity  }}</td>
    <td>{{ y.consumables }}</td>
    <td>{{ y.hyperdrive_rating }}</td>
    <td>{{ y.starship_class }}</td>
    <td>{{ y.pilots }}</td>
    <td>{{ y.films}}</td>
  </tr>
  </tbody>
</table>


<div *ngIf="showLoading">
  <app-spinner-component></app-spinner-component>
</div>


