<div class="star-wars-intro">

    <!-- Blue Intro Text -->
    <p class="intro-text">
      A couple hours ago...
    </p>
  
    <!-- Logo Image or Text goes in here -->
    <h2 class="main-logo">
      <img src="./assets/images/SWLogo.png">
    </h2>
  
    <!-- All Scrolling Content Goes in here -->
    <div class="main-content">
  
      <div class="title-content">
        <p class="content-header">Star Wars Movie App<br/>Created By Danny Nguyen</p>
  
        <br>
  
        <p class="content-body">
          A responsive and robust Angular web application that has information about almost everything in the Star Wars universe. Uses Angular router and Boostrap components. Uses Swapi.co APi to retrieve information.
        </p>
  
        <!-- button or link or whatever -->
       <!-- <a href="" class="space-button"></a>-->
          
      </div>
    </div>
  </div>
  
  <div class="maincontainer">
    <div id="titlecontainer">
     Featuring Content About All Six Star Wars Movies
    </div>

    <div class="listStyle">
        <ul >
            <li class="liStyle" ><img src="./assets/images/EP11.jpg" id="ep1"  /></li>
            <li class="liStyle" ><img src="./assets/images/EP22.jpg" id="ep2" /></li>
            <li class="liStyle" ><img src="./assets/images/EP33.jpg" id="ep3" /></li>
        </ul>
    </div>
    
    <div class="listStyle">
        <ul >
            <li class="liStyle" ><img src="./assets/images/EP1.jpg" id="ep1"  /></li>
            <li class="liStyle" ><img src="./assets/images/EP2.jpg" id="ep2" /></li>
            <li class="liStyle" ><img src="./assets/images/EP3.jpg" id="ep3" /></li>
        </ul>
    </div>

    <div class="listStyle">
        <ul >
            <li class="liStyle" ><img src="./assets/images/EP7.jpg" id="ep1"  /></li>
            <li class="liStyle" ><img src="./assets/images/EP8.jpg" id="ep2" /></li>
            <li class="liStyle" ><img src="./assets/images/EP9.jpg" id="ep3" /></li>
        </ul>
    </div>

  </div>